/* ===== Navbar ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef7fc;
  padding: 0 2rem;
  height: 4rem;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  padding: 0 2rem;
}

.navbar-links a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #007bff;
}

/* ===== Layout ===== */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepage-container {
  text-align: center;
  padding: 5rem 1rem;
  background: linear-gradient(to bottom, #aadbff, #ffffff);
  flex: 1; /* Pushes footer to bottom */
}

/* ===== Footer ===== */
.footer {
  text-align: center;
  padding: 0.8rem;
  background-color: #1c2431;
  color: white;
}
