
body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#eef7fc ;
  padding: 0 2rem;
  height: 4rem;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  padding: 2rem 3rem;
}

.navbar-links a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #007bff;
}


.homepage-container {
  text-align: center;
  padding: 5rem 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepage-container {
  text-align: center;
  padding: 5rem 1rem;
  background: linear-gradient(to bottom, #aadbff, #ffffff);
  flex: 1;
}


.footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #ffffff;
  color: #5e5e5e;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.05);
}